extends ../commun/master-template.pug 

block content
  //- Start bloc content  
  h3 Bonjour TODO

  //- div.row
  //-   div.col.l6
  //-     div.card
  //-       div.card-content
  //-         div.card-title Mes Cours              
  //-         p Page de gestion de vos espaces cours
  //-   div.col.l6
  //-     div.card
  //-       div.card-content
  //-         div.card-title.valign-wrapper
  //-           i.material-icons question_answer
  //-           |Mes Questions
            
  //-         p Page de gestion de vos questions
    

  //- End bloc content