extends ../commun/master-template.pug 

block content
  //- Start bloc content  
  div.row
    div.col.s12
        h2 Bonjour #{user._prenom} #{user._nom} !
                   
  div.row 
    div.col.s12
      div.row
        div.col.s12.l4
          a.black-text(href="/enseignant/cours")
            div.card.hoverable
              div.card-content
                div.card-title 
                  i.material-icons.inline.padding-right book
                  |Mes Cours                         
                p Page de gestion de vos espaces cours
        div.col.s12.l4
          a.black-text(href="/enseignant/question")
            div.card.hoverable
              div.card-content
                div.card-title
                  i.material-icons.inline.padding-right question_answer
                  |Mes Questions                
                p Page de gestion de vos questions
        div.col.s12.l4
          a.black-text(href="/enseignant/questionnaire")
            div.card.hoverable
              div.card-content
                div.card-title
                  i.material-icons.inline.padding-right assignment
                  |Mes Questionnaires                
                p Page de gestion de vos questionnaires
    

  //- End bloc content