html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    <!-- link(rel='stylesheet' href='/css/style.css') -->
    script()
  body

    div.container
      h1 Accueil - TODO Nom Prof        
      a(href="/api/v1/sga/enseignant/cours/ajouter") Ajouter cours
      br
      a(href="/api/v1/sga/enseignant/cours") Mes cours

  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/lib/main.js"></script>

