doctype html
html(lang="fr")
  head
    title Page de connexion
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    #main
     form#formConnection.form-group(action='javascript:void(0);')
       div.label Authentification
       div.username
        input.form-control.col-sm-4(type="text" id="email" placeholder="email")
       div.password
        input(type="password" id="password" placeholder="mot de passe")
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |se rappeller de moi
       button.connect(type="button") se connecter
<script type="text/javascript" src="/lib/main.js"></script>