doctype html
html(lang="fr")
  head
    title Page d'accueil
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script()
  body
    h1 Bonjour Professor Dumbledor

    div.container
      h1 Redémarrer jeux avec résultat sur une nouvelle page
    div.label Rechercher liste de cours
    div.sigle
        input.form-control.col-sm-4(type="text" id="sigleCours" placeholder="sigleCours")
    button.rechercherCours(type="button") Rechercher

<script type="text/javascript" src="/lib/main.js"></script> 

  Ajouter des taches pour creer une nouvelle page de vue dans le lab0.  
  Ajouter un contenu dynamique dans une page avec mixin