doctype html
html(lang="fr")
  head
    title Page d'accueil
    link(rel='stylesheet' href='/css/materialStyle.css')
      

.materialContainer
  .box
    form#formConnection.form-group
      .title LOGIN
      .input
        label(for='name') Username
        input#name(type='text' name='email')
        span.spin
      .input
        label(for='pass') Password
        input#pass(type='password' name='password')
        span.spin
      .button.login
        button#login(type='submit')
          span GO
          i.fa.fa-check
      a.pass-forgot(href='') Forgot your password?

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/login.js"></script>
