doctype html
html(lang="fr")
  head
    title Page d'accueil
    link(rel='stylesheet' href='/css/materialStyle.css')

.materialContainer
  .box
    .title LOGIN
    .input
      label(for='name') Username
      input#name(type='text' name='name')
      span.spin
    .input
      label(for='pass') Password
      input#pass(type='password' name='pass')
      span.spin
    .button.login
      button
        span GO
        i.fa.fa-check
    a.pass-forgot(href='') Forgot your password?
  .overbox
    .material-button.alt-2
      span.shape
    .title REGISTER
    .input
      label(for='regname') Username
      input#regname(type='text' name='regname')
      span.spin
    .input
      label(for='regpass') Password
      input#regpass(type='password' name='regpass')
      span.spin
    .input
      label(for='reregpass') Repeat Password
      input#reregpass(type='password' name='reregpass')
      span.spin
    .button
      button
        span NEXT

<script type="text/javascript" src="/lib/login.js"></script>