extends ../master-template-etudiant.pug 
block content
    //- Start bloc content  
    +btn-back("Devoir pour " + espaceCours._cours._sigle + " Gr: " + espaceCours._numero, returnURL)  
    div.row
        div.col.s10.offset-s1         
            div.row
                if devoirs.length > 0
                    div.section
                        div.row
                            each unDevoir in devoirs
                                - var dateDebut = moment(unDevoir._dateDebut, "DD-MM-YYYY")
                                - var dateFin = moment(unDevoir._dateFin, "DD-MM-YYYY")
                                - var isOpen = moment().isBetween(dateDebut, dateFin, "[]"); 
                                div.col.s12.l5
                                    div.card
                                        div.card-content
                                            div.card-title
                                                div.text-bolder #{unDevoir._nom}                                                          
                                            div.card-description(style="padding-bottom: 15px") #{unDevoir._description}   
                                            div.card-description #{dateDebut.format("LL")} au #{dateFin.format("LL")}                                                                                    
                                        div.card-action
                                            a(class="btn-detail-devoir" href="/etudiant/devoir/detail/" + unDevoir._idEspaceCours + "/" + unDevoir._id) Détail
                                           
                                            if isOpen 
                                                a(class="btn-remettre-devoir" href="#" + unDevoir._idEspaceCours + "/" + unDevoir._id) Remettre

                else
                    div.col.s12
                        em Vous n'avez pas de devoirs

    //- End bloc content
block more-script
    