extends ../passer-question
block question
    div.row
        div.col.s12
            h2.no-margin #{question._nom}
            p #{question._descriptionQuestion} 

        div(class="input-field col s12")
            textarea(id="txtArea-reponse" class="materialize-textarea" name="reponse")
                |#{tentative._mapReponse[question._id] ? tentative._mapReponse[question._id]["reponse"] : ""}
            label(for="txtArea-reponse") Réponse
      
