extends ../passer-question
block question
    div.row
        div.col.s12
            h2.no-margin #{question._nom} 
            p #{question._descriptionQuestion} 

        - var reponseQuestion = tentative._mapReponse[question._id] 
        - var choixQuestion = question._answerChoix[0]

        div.input-field.col.s6
            input#reponse(type="text" name="reponse" value=reponseQuestion && reponseQuestion["reponse"] ? reponseQuestion["reponse"] : "")
            label(for="reponse") Réponse

