extends ../master-template-enseignant.pug 
block content
    //- Start bloc content
    +btn-back((estModification ? "Modifier une question" : "Ajouter une question") + (titreTypeQuestion ? ` - ${titreTypeQuestion}` : ""), 
        returnUrl || `/enseignant/question/choix/${idEspaceCours}`)  

    div.row
        div.col.s10.offset-s1   
            if !estModification 
                div.row
                    div.col.s12
                        a(class="waves-effect waves-light btn right btn-terminer-ajout blue accent-2" href="/enseignant/question/" + idEspaceCours) Terminer l'ajout
            
            block question 
                //- insertion des formulaires d'ajouts de questions

    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/ajouter-modifier-question.js")
