extends ajouter-modifier-question.pug 

block content
    
    form.form-ajouter-question-choix-multiples.section(id="form-ajouter-question-cm")
        //- Debut form
        div.row.no-margin
            div.input-field.col.s12
                textarea#question(class="materialize-textarea" name="question" required)
                    |#{estModification ? question._descriptionQuestion : ""}
                label(for="question") Question
        
